
html {
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #1C698A;
  max-height: 100%;
}

body {
  padding:6rem 0;
  color:#000;
}

h1 {
  padding: 37px;
  font-size: 40px;
  font-weight: 700;
  color: #FF7474;
}

h1:hover {
  color: #fff;
  animation: bounce;
  animation-duration: 1s;
}

a {
  text-decoration: none;
}

.center {
  text-align: center;
}

.grid-container {
  display: inline-grid;
  align-items: center;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.square11 {
    background: #FFF174;
    width: 186px;
    height: 186px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.square11:hover {
    animation: bounce;
    animation-duration: 1s;
}

.circle {
    background: #FF7474;
    border-radius: 50%;
    width: 700px;
    height: 700px;
    float: right;
    shape-outside: inset(700px 700px 700px 700px round 700px);
}

h2 {
  color: #FF7474;
  font-size: 150px;
  font-weight: 700;
  margin: 80px;
  margin-right: 500px;
}

h2:hover {
  color: #252525;
}

p {
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  margin: 80px;
  margin-bottom: 0px;
  line-height: 75px;
}


/* ==== max width 550px ==== */

@media only screen and (max-width: 550px) {

.square11 {
    margin: 10px;
}

h2 {
  width: auto;
  margin-left: 20px;
  font-size: 80px;
}

p {
  width: auto;
  font-size: 30px;
  margin: 20px;
  margin-bottom: 60px;
}

}